<%= form_with(model: cliente, local: true) do |form| %>
  <% if cliente.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cliente.errors.count, "error") %> prohibited this cliente from being saved:</h2>

      <ul>
      <% cliente.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12 m6 l4">
    <%= form.label :cli_nomb %>
    <%= form.text_field :cli_nomb, id: :cliente_cli_nomb %>
  </div>

  <div class="input-field col s12 m6 l4">
    <%= form.label :cli_appa %>
    <%= form.text_field :cli_appa, id: :cliente_cli_appa %>
  </div>

  <div class="input-field col s12 m6 l4">
    <%= form.label :cli %>
    <%= form.text_field :cli, id: :cliente_cli %>
  </div>

  <div class="input-field col s12 m6 l4">
    <%= form.label :cli_rut %>
    <%= form.text_field :cli_rut, id: :cliente_cli_rut %>
  </div>

  <div class="input-field col s12 m6 l4">
    <%= form.label :cli_pass %>
    <%= form.text_field :cli_pass, id: :cliente_cli_pass %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
