<div class="card hoverable">
  <div class="card-image">
    <img src=<%= image_url('c2.jpg') %> >
    <span class="card-title">Cliente</span>
  </div>
</div>

<div class="card hoverable">
  <div class="card-content">
<%= render 'form', cliente: @cliente %>
</div>
</div>
