<p id="notice"><%= notice %></p>

<h1>Clientes</h1>

<table>
  <thead>
    <tr>
      <th>Cli nomb</th>
      <th>Cli appa</th>
      <th>Cli</th>
      <th>Cli rut</th>
      <th>Cli pass</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.cli_nomb %></td>
        <td><%= cliente.cli_appa %></td>
        <td><%= cliente.cli %></td>
        <td><%= cliente.cli_rut %></td>
        <td><%= cliente.cli_pass %></td>
        <td><%= link_to 'Show', cliente %></td>
        <td><%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_cliente_path(cliente) %></td>
        <td><%= link_to '<i class="material-icons">delete</i>'.html_safe, cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cliente', new_cliente_path %>
