<p id="notice"><%= notice %></p>

<p>
  <strong>Cli nomb:</strong>
  <%= @cliente.cli_nomb %>
</p>

<p>
  <strong>Cli appa:</strong>
  <%= @cliente.cli_appa %>
</p>

<p>
  <strong>Cli:</strong>
  <%= @cliente.cli %>
</p>

<p>
  <strong>Cli rut:</strong>
  <%= @cliente.cli_rut %>
</p>

<p>
  <strong>Cli pass:</strong>
  <%= @cliente.cli_pass %>
</p>

<%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_cliente_path(@cliente) %> |
<%= link_to 'Back', clientes_path %>
