<%= form_with(model: tipo_producto, local: true) do |form| %>
  <% if tipo_producto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_producto.errors.count, "error") %> prohibited this tipo_producto from being saved:</h2>

      <ul>
      <% tipo_producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12 m6 l4">
    <%= form.label :tpro_desc, "Codigo Tipo Producto" %>
    <%= form.text_field :tpro_id, id: :tipo_producto_tpro_id, class: "validate", required: " " %>
  </div>
  <div class="input-field col s12 m6 l4">
    <%= form.label :tpro_desc, "Tipo Producto" %>
    <%= form.text_field :tpro_desc, id: :tipo_producto_tpro_desc, class: "validate", required: " " %>
  </div>

  <div class="row">
    <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      <i class="material-icons right">Enviar</i>
    </button>
  </div>
<% end %>
