<div class="card hoverable">
  <div class="card-image">
    <img src=<%= image_url('c1.jpg') %> >
    <span class="card-title">Tipo Producto</span>
  </div>
</div>
<ul class="collapsible popout" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">library_add</i>Agregar Tipo Producto</div>
    <div class="collapsible-body hoverable">
      <%= render 'form', tipo_producto: @tipo_producto %>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">toc</i>Ver Tipos</div>
    <div class="collapsible-body hoverable">
      <table id="tpo" class="bordered highlight">
        <thead>
          <tr>
            <th class="width 40%">Codigo</th>
            <th class="width 40%">Nombre</th>
            <th class="width 20%"></th>
          </tr>
        </thead>
        <tbody>
          <% @tipo_productos.each do |tp| %>
            <tr>
              <td><%= tp.tpro_id %></td>
              <td><%= tp.tpro_desc %></td>
              <td><%= link_to 'E', edit_tipo_producto_path(tp) %>
                <%= link_to 'D', tp, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </li>
</ul>


<script>
$(document).ready(function() {
    $('#tpo').dataTable({
       "lengthChange": false,
       language: { search: "Buscar" }
    });
});
$(document).ready(function(){
    $('.collapsible').collapsible();
});

</script>
