<%= form_with(model: local, local: true) do |form| %>
  <% if local.errors.any? %>
    <% local.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>
  
<div class="row">
  <div class="input-field col s12 m6 l4">
    <%= form.label :piz_nomb, "Nombre Pizzeria" %>
    <%= form.text_field :piz_nomb, id: :local_piz_nomb %>
  </div>

  <div class="input-field col s12 m6 l4">
    <%= form.label :piz_tele, "Telefono"  %>
    <%= form.number_field :piz_tele, id: :local_piz_tele %>
  </div>

  <div class="input-field col s12 m6 l6">
    <%= form.label :piz_dire, "Direccion" %>
    <%= form.text_field :piz_dire, id: :local_piz_dire %>
  </div>
</div>

  <div class="row">
    <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
      <i class="material-icons right">send</i>
    </button>
  </div>

<% end %>
