<div class="card hoverable">
  <div class="card-image">
    <img src=<%= image_url('c2.jpg') %> >
    <span class="card-title"><%= @local.piz_nomb %></span>
  </div>
</div>
<div class="card hoverable">
  <div class="card-content">
    <%= render 'form', local: @local %>
  </div>
</div>
