<div class="card hoverable">
  <div class="card-image">
    <img src=<%= image_url('c2.jpg') %> >
    <span class="card-title">Pizzerias</span>
  </div>
</div>

<ul class="collapsible popout" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">av_timer</i>Agregar Pizzeria</div>
    <div class="collapsible-body hoverable">
      <%= render 'form', local: @local %>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">business</i>Pizzerias</div>
    <div class="collapsible-body hoverable">
      <table class="bordered highlight">
  <thead>
    <tr>
      <th class="width 20%">Nombre Local</th>
      <th class="width 40%">Direccion</th>
      <th class="width 20%">Telefono</th>
      <th class="width 20%"> </th>
    </tr>
  </thead>

  <tbody>
    <% @locals.each do |local| %>
      <tr>
        <td><%= local.piz_nomb %></td>
        <td><%= local.piz_dire %></td>
        <td><%= local.piz_tele %></td>
        <td><%= link_to '<i class="material-icons">subtitles</i>'.html_safe, local %>
          <%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_local_path(local) %>
          <%= link_to '<i class="material-icons">delete</i>'.html_safe, local, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</li>
</ul>

<script>
$(document).ready(function(){
    $('.collapsible').collapsible();
});
</script>
