<div class="card hoverable">
  <div class="card-image">
    <img src=<%= image_url('c2.jpg') %> >
    <span class="card-title"><%= @local.piz_nomb %></span>
  </div>
</div>


<div class="card hoverable">
  <div class="card-content">
    <p>
      <strong>Nombre:</strong>
      <%= @local.piz_nomb %>
    </p>

    <p>
      <strong>Direccion:</strong>
      <%= @local.piz_dire %>
    </p>

    <p>
      <strong>Telefono:</strong>
      <%= @local.piz_tele %>
    </p>

  </div>
</div>

<ul class="collapsible popout" data-collapsible="accordion">
  <li>
  <div class="collapsible-header"><i class="material-icons">person_pin</i>Empleados</div>
  <div class="collapsible-body hoverable">
    <table class="bordered highlight">
      <thead>
        <tr>
          <th class="width 25%">Nombre Completo</th>
          <th class="width 25%">Local</th>
          <th class="width 25%">Tipo Trabajador</th>
          <th class="width 25%"> </th>
        </tr>
      </thead>
      <tbody>
        <% @trab.each do |t| %>
          <tr>
            <td><%= t.tra_nomb+" "+t.tra_appa+" "+t.tra_apma %></td>
            <td><%= t.local.piz_nomb %></td>
            <td><%= t.tipo_trabajador.ttra_desc %></td>
            <td><%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_trabajador_path(t) %>
              <%= link_to '<i class="material-icons">delete</i>'.html_safe, t, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</li>
</ul>
