<div class="col s12 m12 l8 offset-l2 ">
<div class="card hoverable">
  <div class="card-image">
    <img src=<%= image_url('c2.jpg') %> >
    <span class="card-title">Crear Cuenta</span>
  </div>
  <div class="card-content">
    <div class="row">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="row">
    <button class="btn waves-effect waves-light" type="submit" name="action">Crear Cuenta
      <i class="material-icons right">vpn_key</i>
    </button>
  </div>
<% end %>
</div>
</div>
</div>
</div>
