<%= form_with(model: ins_pro, local: true) do |form| %>
  <% if ins_pro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ins_pro.errors.count, "error") %> prohibited this ins_pro from being saved:</h2>

      <ul>
      <% ins_pro.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12 m6 l4">
    <%= form.label :inpr_prod_id %>
    <%= form.text_field :inpr_prod_id, id: :ins_pro_inpr_prod_id %>
  </div>

  <div class="input-field col s12 m6 l4">
    <%= form.label :inpr_insu_id %>
    <%= form.text_field :inpr_insu_id, id: :ins_pro_inpr_insu_id %>
  </div>

  <div class="input-field col s12 m6 l4">
    <%= form.label :inpr_cant %>
    <%= form.number_field :inpr_cant, id: :ins_pro_inpr_cant %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
