<p id="notice"><%= notice %></p>

<h1>Ins Pros</h1>

<table>
  <thead>
    <tr>
      <th>Inpr prod</th>
      <th>Inpr insu</th>
      <th>Inpr cant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ins_pros.each do |ins_pro| %>
      <tr>
        <td><%= ins_pro.inpr_prod %></td>
        <td><%= ins_pro.inpr_insu %></td>
        <td><%= ins_pro.inpr_cant %></td>
        <td><%= link_to 'Show', ins_pro %></td>
        <td><%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_ins_pro_path(ins_pro) %></td>
        <td><%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, ins_pro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ins Pro', new_ins_pro_path %>
