<p id="notice"><%= notice %></p>

<p>
  <strong>Inpr prod:</strong>
  <%= @ins_pro.inpr_prod %>
</p>

<p>
  <strong>Inpr insu:</strong>
  <%= @ins_pro.inpr_insu %>
</p>

<p>
  <strong>Inpr cant:</strong>
  <%= @ins_pro.inpr_cant %>
</p>

<%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_ins_pro_path(@ins_pro) %> |
<%= link_to 'Back', ins_pros_path %>
