<%= form_with(model: tipo_trabajador, local: true) do |form| %>
  <% if tipo_trabajador.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tipo_trabajador.errors.count, "error") %> prohibited this tipo_trabajador from being saved:</h2>

      <ul>
      <% tipo_trabajador.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="input-field col s12 m6 l4">
      <%= form.label :ttra_id, "Codigo" %>
      <%= form.text_field :ttra_id, id: :tipo_trabajador_ttra_id, class: "validate", required: " " %>
    </div>

    <div class="input-field col s12 m6 l4">
      <%= form.label :ttra_desc, "Descripcion" %>
      <%= form.text_field :ttra_desc, id: :tipo_trabajador_ttra_desc, class: "validate", required: " " %>
    </div>

    <div class="input-field col s12 m6 l4">
      <%= form.label :opcion%>
      <%= form.text_field :opcion, id: :tipo_trabajador_opcion, class: "validate", required: " " %>
    </div>
  </div>
  <div class="row">
    <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
      <i class="material-icons right">send</i>
    </button>
  </div>
<% end %>
