<div class="card hoverable">
  <div class="card-image">
    <img src=<%= image_url('c2.jpg') %> >
    <span class="card-title"><%= @tipo_trabajador.ttra_id+" - "+@tipo_trabajador.ttra_desc %></span>
  </div>
</div>

<div class="card hoverable">
  <div class="card-content">
    <%= render 'form', tipo_trabajador: @tipo_trabajador %>
  </div>
</div>
