<div class="card hoverable">
  <div class="card-image">
    <img src=<%= image_url('c2.jpg') %> >
    <span class="card-title">Tipo Trabajador</span>
  </div>
</div>

<ul class="collapsible popout" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">assignment_ind</i>Agregar Tipo</div>
    <div class="collapsible-body hoverable">
      <%= render 'form', tipo_trabajador: @tipo_trabajador %>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">supervisor_account</i>Tipo Trabajador</div>
    <div class="collapsible-body hoverable">
      <table class="bordered highlight">
        <thead>
          <tr>
            <th class="width 35%">Codigo</th>
            <th class="width 35%">Descripcion</th>
            <th class="width 30%"> </th>
          </tr>
        </thead>
        <tbody>
          <% @tipo_trabajadors.each do |tipo_trabajador| %>
            <tr>
              <td><%= tipo_trabajador.ttra_id %></td>
              <td><%= tipo_trabajador.ttra_desc %></td>
              <td><%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_tipo_trabajador_path(tipo_trabajador) %>
                <%= link_to '<i class="material-icons">delete</i>'.html_safe, tipo_trabajador, method: :destroy, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </li>
</ul>

<script>
$(document).ready(function(){
    $('.collapsible').collapsible();
});
</script>
