<%= form_with(model: trabajador, local: true) do |form| %>
  <% if trabajador.errors.any? %>
    <% trabajador.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  <% end %>

  <div class="input-field col s12 m6 l4">
    <%= form.label :tra_nomb, "Nombres" %>
    <%= form.text_field :tra_nomb, id: :trabajador_tra_nomb, class: "validate", required: " "  %>
  </div>

  <div class="input-field col s12 m6 l4">
    <%= form.label :tra_appa, "Apellido Paterno" %>
    <%= form.text_field :tra_appa, id: :trabajador_tra_appa, class: "validate", required: " "   %>
  </div>

  <div class="input-field col s12 m6 l4">
    <%= form.label :tra_apma, "Apellido Materno" %>
    <%= form.text_field :tra_apma, id: :trabajador_tra_apma, class: "validate", required: " "   %>
  </div>

  <div class="input-field col s12 m6 l4 ">
    <%= form.label :tra_rut, "Rut" %>
    <%= form.text_field :tra_rut, id: :trabajador_tra_rut, class: "validate", required: " "   %>
  </div>

  <div class="input-field col s12 m6 l4">
    <%= select(:trabajador, :tra_pizz, Local.all.collect {|p| [ p.piz_nomb, p.piz_id ] }, { include_blank: 'Pizzeria' }, class: "validate", required: " " ) %>
  </div>

  <div class="input-field col s12 m6 l4">
    <%= select(:trabajador, :tra_ttra, TipoTrabajador.all.collect {|tt| [ tt.ttra_desc, tt.ttra_id ] }, { include_blank: 'Cargo' }, class: "validate", required: " ") %>
  </div>

  <%= hidden_field(:trabajador, :tra_pass, value: "password") %>

  <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
    <i class="material-icons right">send</i>
  </button>

<% end %>
<script>
$(document).ready(function() {
    $('select').material_select();
});
</script>
