<div class="card hoverable">
  <div class="card-image">
    <img src=<%= image_url('c2.jpg') %> >
    <span class="card-title"><%= @trabajador.tra_nomb+" "+@trabajador.tra_appa+" "+@trabajador.tra_apma%></span>
  </div>
</div>

<div class="card hoverable">
  <div class="card-content">
    <%= render 'form', trabajador: @trabajador %>
  </div>
</div>
