<div class="card hoverable">
  <div class="card-image">
    <img src=<%= image_url('c2.jpg') %> >
    <span class="card-title">Trabajadores</span>
  </div>
</div>

<ul class="collapsible popout" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">assignment_ind</i>Agregar Trabajador</div>
    <div class="collapsible-body hoverable">
      <%= render 'form', trabajador: @trabajador %>
    </div>
  </li>
  <li>
    <div class="collapsible-header active"><i class="material-icons">supervisor_account</i>Trabajadores</div>
    <div class="collapsible-body hoverable">
      <table id="trab" class="bordered highlight">
        <thead>
          <tr>
            <th class="width 25%">Nombre Completo</th>
            <th class="width 25%">Local</th>
            <th class="width 25%">Tipo Trabajador</th>
            <th class="width 25%"> </th>
          </tr>
        </thead>
        <tbody>
          <% @trabajadors.each do |t| %>
            <tr>
              <td><%= t.tra_nomb+" "+t.tra_appa+" "+t.tra_apma %></td>
              <td><%= t.local.piz_nomb %></td>
              <td><%= t.tipo_trabajador.ttra_desc %></td>
              <td><%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_trabajador_path(t) %>
                <%= link_to '<i class="material-icons">delete</i>'.html_safe, t, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </li>
</ul>

<script>
$(document).ready(function() {
    $('#trab').dataTable({
       "lengthChange": false,
       language: { search: "" }
    });
});
$(document).ready(function(){
    $('.collapsible').collapsible();
});
</script>
