<%= form_with(model: insumo, local: true) do |form| %>
  <% if insumo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(insumo.errors.count, "error") %> prohibited this insumo from being saved:</h2>

      <ul>
      <% insumo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
  <div class="input-field col s12 m6 l4">
    <%= form.label :ins_nomb, "Insumo" %>
    <%= form.text_field :ins_nomb, id: :insumo_ins_nomb, class: "validate", required: " " %>
  </div>
</div>

  <div class="row">
    <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
      <i class="material-icons right">send</i>
    </button>
  </div>
<% end %>
