<div class="card hoverable">
  <div class="card-image">
    <img src=<%= image_url('c2.jpg') %> >
    <span class="card-title"><%= "Insumo: "+@insumo.ins_nomb %></span>
  </div>
</div>

<div class="card hoverable">
  <div class="card-content">
    <%= render 'form', insumo: @insumo %>
  </div>
</div>
