<div class="card hoverable">
  <div class="card-image">
    <img src=<%= image_url('c2.jpg') %> >
    <span class="card-title">Insumos</span>
  </div>
</div>
<ul class="collapsible popout" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">library_add</i>Agregar Insumo</div>
    <div class="collapsible-body hoverable">
      <%= render 'form', insumo: @insumo %>
    </div>
  </li>
  <li>
    <div class="collapsible-header active"><i class="material-icons">toc</i>Ver Insumos</div>
    <div class="collapsible-body hoverable">
      <table id="insu" class="bordered highlight">
        <thead>
          <tr>
            <th class="width 50%">Nombre</th>
            <th class="width 50%"></th>
          </tr>
        </thead>
        <tbody>
          <% @insumos.each do |i| %>
            <tr>
              <td><%= i.ins_nomb %></td>
              <td><%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_insumo_path(i) %>
                <%= link_to '<i class="material-icons">delete</i>'.html_safe, i, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </li>
</ul>

<script>
$(document).ready(function() {
    $('#insu').dataTable({
       "lengthChange": false,
       language: { search: "Buscar" }
    });
});
$(document).ready(function(){
    $('.collapsible').collapsible();
});
</script>
