<%= form_with(model: stock, local: true) do |form| %>
  <% if stock.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(stock.errors.count, "error") %> prohibited this stock from being saved:</h2>

      <ul>
      <% stock.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-field col s12 m6 l4">
    <%= form.label :sto_fing %>
    <%= form.date_select :sto_fing, id: :stock_sto_fing, class: "validate", required: " " %>
  </div>

  <div class="input-field col s12 m6 l4">
    <%= form.label :sto_fcau %>
    <%= form.date_select :sto_fcau, id: :stock_sto_fcau, class: "validate", required: " " %>
  </div>

  <div class="input-field col s12 m6 l4">
    <%= form.label :sto_cant %>
    <%= form.number_field :sto_cant, id: :stock_sto_cant, class: "validate", required: " " %>
  </div>

  <div class="input-field col s12 m6 l4">
    <%= form.label :sto_prec %>
    <%= form.number_field :sto_prec, id: :stock_sto_prec, class: "validate", required: " " %>
  </div>

  <div class="input-field col s12 m6 l4">
    <%= form.label :sto_insu_id %>
    <%= form.text_field :sto_insu_id, id: :stock_sto_insu_id, class: "validate", required: " " %>
  </div>

  <div class="input-field col s12 m6 l4">
    <%= form.label :sto_pizz_id %>
    <%= form.text_field :sto_pizz_id, id: :stock_sto_pizz_id, class: "validate", required: " " %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
