<div class="card hoverable">
  <div class="card-image">
    <img src=<%= image_url('c2.jpg') %> >
    <span class="card-title">Stock</span>
  </div>
</div>

<%= render 'form', stock: @stock %>

<%= link_to 'Show', @stock %> |
<%= link_to 'Back', stocks_path %>
