<p id="notice"><%= notice %></p>

<h1>Stocks</h1>

<table>
  <thead>
    <tr>
      <th>Sto fing</th>
      <th>Sto fcau</th>
      <th>Sto cant</th>
      <th>Sto prec</th>
      <th>Sto insu</th>
      <th>Sto pizz</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td><%= stock.sto_fing %></td>
        <td><%= stock.sto_fcau %></td>
        <td><%= stock.sto_cant %></td>
        <td><%= stock.sto_prec %></td>
        <td><%= stock.sto_insu %></td>
        <td><%= stock.sto_pizz %></td>
        <td><%= link_to 'Show', stock %></td>
        <td><%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_stock_path(stock) %></td>
        <td><%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, stock, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock', new_stock_path %>
