<p id="notice"><%= notice %></p>

<p>
  <strong>Sto fing:</strong>
  <%= @stock.sto_fing %>
</p>

<p>
  <strong>Sto fcau:</strong>
  <%= @stock.sto_fcau %>
</p>

<p>
  <strong>Sto cant:</strong>
  <%= @stock.sto_cant %>
</p>

<p>
  <strong>Sto prec:</strong>
  <%= @stock.sto_prec %>
</p>

<p>
  <strong>Sto insu:</strong>
  <%= @stock.sto_insu %>
</p>

<p>
  <strong>Sto pizz:</strong>
  <%= @stock.sto_pizz %>
</p>

<%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_stock_path(@stock) %> |
<%= link_to 'Back', stocks_path %>
