<div class="row">
  <div class="col s12 m12 l8 offset-l2 ">
    <div class="card  hoverable">
      <div class="card-content">
        <img class="materialboxed center-block"  width="650" src=<%= image_url('bn.jpeg') %> >
        <h3>Bienvenido!</h3>
        <div class="row">
      <div class="col s6">
        <p> Order pizza online for fast pizza delivery or drop by for carryout. You may also contact Pizza Hut and find out about our catering services for your next big event. </p>
      </div>
      <div class="col s6">
      <p> Pizza is a yeasted flatbread typically topped with tomato sauce and cheese and baked in an oven. It is commonly topped with a selection of meats, vegetables</p>
      </div>
      </div>
    </div>
  </div>
</div>
