<div class="row align-top">
  <h1>Reportes</h1>
  <div class="medium-2 columns">
    <ul class="vertical menu">
      <li><a href="#">Ticket</a></li>
      <li><a href="#">Otra Tabla</a></li>
      <li><%= link_to '<i class="fi-previous"></i> Volver'.html_safe, pages_index_path %></li>
    </ul>
  </div>
  <div class="medium-10 columns">
    <h4>NOMBRE TABLA</h4>
    <div class="callout">
      <table class="unstriped">
        <thead>
          <tr>
            <th>Cine</th>
            <th>Cant. cajeros</th>
            <th>Tickets vendidos</th>
          </tr>
        </thead>
        <tbody>
          <% @trab.each do |c| %>
          <tr>
            <td><%= c.tra_rut %></td>
            <td><%= c.tra_nom %></td>
            <td><%= c.tra_mail %> </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
