<h1>Page#procedimiento</h1>
<p>Find me in app/views/page/procedimiento.html.erb</p>

<div class="row align-top">
  <h1>Reportes</h1>
  <div class="medium-2 columns">
    <ul class="vertical menu">
      <li><a href="#">Ticket</a></li>
      <li><a href="#">Otra Tabla</a></li>
      <li><%= link_to '<i class="fi-previous"></i> Volver'.html_safe, pages_index_path %></li>
    </ul>
  </div>
  <div class="medium-10 columns">
    <h4>NOMBRE TABLA</h4>
    <div class="callout">
      <table class="unstriped">
        <thead>
          <tr>
            <th>Cine</th>
            <th>Cant. cajeros</th>
            <th>Tickets vendidos</th>
            <th>Tickets vendidos</th>
            <th>Tickets vendidos</th>
            <th>Tickets vendidos</th>
            <th>Tickets vendidos</th>
            <th>Tickets vendidos</th>
          </tr>
        </thead>
        <tbody>
          <% @esta.each do |e| %>
          <tr>
            <td><%= e.rst_cine_id %></td>
            <td><%= e.rst_cine_nom %></td>
            <td><%= e.rst_cajeros %></td>
            <td><%= e.rst_vendidos %></td>
            <td><%= e.rst_dev %></td>
            <td><%= e.rst_dias %></td>
            <td><%= e.rst_usuario %></td>
            <td><%= e.rst_ip %></td>
            <td><%= e.rst_fecha %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
