<!--VISTA UNO -->
<div class="card hoverable ">
  <div class="card-image">
    <img src=<%= image_url('c4.jpg') %> >
    <span class="card-title">Vistas</span>
  </div>

  <div class="card-tabs">
    <ul class="tabs tabs-fixed-width">
      <li class="tab"><a class="active" href="#vista1">Ventas Total</a></li>
      <li class="tab"><a href="#vista2">Insumos por Local</a></li>
    </ul>
  </div>
  <div class="card-content grey lighten-4">
    <div id="vista1">
      <div class="row">
        <div class="chart-container" style="position: relative; height: 30vh; width: 30vw">
          <%= pie_chart @datos %>
        </div>
      </div>
    </div>
      <div id="vista2">
        <div class="row">
          <table id="v2" class="bordered highlight">
            <thead>
              <tr>
                <th class="width 35%">Pizzeria</th>
                <th class="width 25%">Insumo</th>
                <th class="width 20%">Utilizado</th>
                <th class="width 20%">Medida</th>
              </tr>
            </thead>
            <tbody>
              <% @vista2.each do |i| %>
                <tr>
                  <td><%= i.pizze %></td>
                  <td><%= i.insu %></td>
                  <td><%= i.insutil %></td>
                  <td><%= i.medida %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
