<%= form_with(model: pro_ped, local: true) do |form| %>
  <% if pro_ped.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pro_ped.errors.count, "error") %> prohibited this pro_ped from being saved:</h2>

      <ul>
      <% pro_ped.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :prpe_pedi_id %>
    <%= form.text_field :prpe_pedi_id, id: :pro_ped_prpe_pedi_id %>
  </div>

  <div class="field">
    <%= form.label :prpe_prod_id %>
    <%= form.text_field :prpe_prod_id, id: :pro_ped_prpe_prod_id %>
  </div>

  <div class="field">
    <%= form.label :prpe_cant %>
    <%= form.number_field :prpe_cant, id: :pro_ped_prpe_cant %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
