<p id="notice"><%= notice %></p>

<h1>Pro Peds</h1>

<table>
  <thead>
    <tr>
      <th>Prpe pedi</th>
      <th>Prpe prod</th>
      <th>Prpe cant</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pro_peds.each do |pro_ped| %>
      <tr>
        <td><%= pro_ped.prpe_pedi %></td>
        <td><%= pro_ped.prpe_prod %></td>
        <td><%= pro_ped.prpe_cant %></td>
        <td><%= link_to 'Show', pro_ped %></td>
        <td><%= link_to 'Edit', edit_pro_ped_path(pro_ped) %></td>
        <td><%= link_to 'Destroy', pro_ped, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pro Ped', new_pro_ped_path %>
