<p id="notice"><%= notice %></p>

<p>
  <strong>Prpe pedi:</strong>
  <%= @pro_ped.prpe_pedi %>
</p>

<p>
  <strong>Prpe prod:</strong>
  <%= @pro_ped.prpe_prod %>
</p>

<p>
  <strong>Prpe cant:</strong>
  <%= @pro_ped.prpe_cant %>
</p>

<%= link_to 'Edit', edit_pro_ped_path(@pro_ped) %> |
<%= link_to 'Back', pro_peds_path %>
