<%= form_with(model: pedido, local: true) do |form| %>

<div class="row">
  <%= hidden_field(:pedido, :ped_fecha, value: Time.now) %>
  <%= hidden_field(:pedido, :ped_esta, value: "ESP") %>
  <%= hidden_field(:pedido, :ped_tota, value: "0") %>

  <% if is_trabajador %>
    <%= hidden_field(:pedido, :ped_clie, value: "1-1") %>
    <%= hidden_field(:pedido, :ped_trab, value: current_account.trabajador.tra_rut) %>
    <%= hidden_field(:pedido, :ped_pizz, value: current_account.trabajador.local.piz_id) %>
    <p> trabajador: <%= current_account.trabajador.tra_nomb+" rut:"+current_account.trabajador.tra_rut %> </p>
    <p> Pedido Tipo: Local - <%= current_account.trabajador.local.piz_nomb %> </p>
  <% elsif is_cliente %>
    <%= hidden_field(:pedido, :ped_clie, value: current_account.cliente.cli_id) %>
    <%= hidden_field(:pedido, :ped_trab, value: "11111111-1") %>
    <p> Cliente: <%= current_account.cliente.cli_nomb+" id:"+current_account.cliente.cli_id.to_s %> </p>
    <p> Pedido Tipo: Web </p>
    <div class="input-field col s12 m6 l4">
    <%= select(:pedido, :ped_pizz, Local.all.collect {|p| [ p.piz_nomb, p.piz_id ] }, { include_blank: 'Pizzeria' }, class: "validate", required: " " ) %>
    </div>
  <% end %>

<div id="pro_ped">
  <%= form.fields_for :pro_ped do |f|  %>
  <div class="row">
    <div class="input-field col s12 m6 l3">
      <%= f.select :prpe_prod, options_for_select(Producto.all.collect {|i| [ i.pro_desc, i.pro_id ] }), {include_blank: 'Agregar Producto'} %>
    </div>
    <div class="input-field col s12 m6 l3">
      <%= f.label :prpe_cant, "Cantidad" %>
      <%= f.number_field :prpe_cant, class: "validate", required: " " %>
    </div>
  </div>
  <% end %>
  <div class="row">
    <div class="input-field col s12 m6 l12">
      <div class="links">
        <%= link_to_add_association 'Agregar Producto', form, :pro_ped, class: "btn waves-effect waves-light" %>
      </div>
    </div>
  </div>
</div>

  <div class="row">
    <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
      <i class="material-icons right">send</i>
    </button>
  </div>
<% end %>
<script>
$(document).ready(function() {
    $('select').material_select();
});
function update() {
  $("#formaa div.row").each(function(i,o){
     var total = $(o).find(".quant").val() * $(o).find(".price").val();
     if(!isNaN(total) && total.length!=0) {
         sum += parseFloat(total);
     }
     $(o).find('[name="sum"]').val(total);
  });
}
</script>
