<div class="nested-fields">
  <div class="row">
    <div class="input-field col s12 m6 l7">
      <%= f.select :prpe_prod, options_for_select(Producto.all.collect {|i| [ i.pro_desc, i.pro_id ] }), {include_blank: 'Agregar Producto'} %>
    </div>

    <div class="input-field col s12 m6 l3">
      <%= f.label :prpe_cant, "Cantidad" %>
      <%= f.number_field :prpe_cant , class: "validate", required: " "%>
    </div>


    <%#= f.check_box :_destroy %>
    <div class="input-field col s12 m6 l2">
      <%= link_to_remove_association "Eliminar", f, class: "btn waves-effect waves-light" %>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
    $('select').material_select();
});
</script>
