<div class="card hoverable">
  <div class="card-image">
    <img src=<%= image_url('c2.jpg') %> >
    <span class="card-title">Pedido</span>
  </div>
</div>

<div class="card hoverable">
  <div class="card-content">
<%= render 'form', pedido: @pedido %>
</div>
</div>
