<div class="card small hoverable ">
  <div class="card-image">
    <img src=<%= image_url('c4.jpg') %> >
    <span class="card-title">Vistas</span>
  </div>
  <div class="card-tabs">
    <div id="menu-tabs">
      <ul class="tabs tabs-fixed-width" >
        <li class="tab"><a class="active" href="#1">Pizzeria</a></li>
        <li class="tab"><a href="#2">Agregar Pizza </a></li>
        <li class="tab"><a href="#3">Agregar Acompañamientos</a></li>
        <li class="tab"><a href="#4">Crear Pedido</a></li>
      </ul>
    </div>
  </div>
  <div class="card-content grey lighten-4">
    <div id="1" class="col s12 m12 l12">
      <p>PESTAÑA INCIAL 1 </p>
    </div>
    <div id="2" class="col s12 m12 l12">
      <p>PESTAÑA 2</p>
    </div>
  </div>
</div>
