<div class="card hoverable">
  <div class="card-image">
    <img src=<%= image_url('c4.jpg') %> >
    <span class="card-title">Crear Pedido</span>
  </div>
</div>
<ul class="collapsible popout" data-collapsible="accordion">
  <% if is_cliente || is_trabajador %>
  <li>
    <div class="collapsible-header active"><i class="material-icons">library_add</i>Crear Pedido</div>
    <div class="collapsible-body hoverable">
    <%= render 'form', pedido: @pedido %>
  </li>
  <% end %>
<% if @cant > 0 %>
<li>
  <div class="collapsible-header "><i class="material-icons">av_timer</i>Pedidos</div>
  <div class="collapsible-body hoverable">
  <table id="dt" class="bordered highlight">
      <thead>
        <tr>
          <th>Num</th>
          <th>Local</th>
          <th>Fecha</th>
          <th>Estado</th>
          <th>Total</th>
          <th> </th>
        </tr>
      </thead>
      <tbody>
        <% @pedidos.each do |pedido| %>
          <tr>
            <td><%= pedido.ped_id %></td>
            <td><%= pedido.local.piz_nomb %></td>
            <td><%= pedido.ped_fecha %></td>
            <td><%= pedido.estado.est_desc %></td>
            <td><%= pedido.ped_tota %></td>
            <td><%= link_to 'Show', pedido %> </td>
            <td><% if pedido.ped_esta != "ENT" %>
                  <%= form_for pedido do |t| %>
                    <% if pedido.ped_esta == "ESP" %>
                      <%= t.hidden_field :ped_esta, :value => "PRO"%>
                      <%= t.submit "En Proceso"  %>
                    <% elsif pedido.ped_esta == "PRO" %>
                      <%= t.hidden_field :ped_esta, :value => "RET"%>
                      <%= t.submit "Listo Para Retiro"  %>
                    <% else %>
                      <%= t.hidden_field :ped_esta, :value => "ENT"%>
                      <%= t.submit "Entregado"  %>
                    <% end %>
                  <% end %>
                <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
  </div>
</li>

<script>
$('#dt').DataTable({
  "lengthChange": false,
  language: { search: "Buscar" }
});
</script>
