<p id="notice"><%= notice %></p>

<p>
  <strong>Ped total:</strong>
  <%= @pedido.ped_tota %>
</p>

<p>
  <strong>Ped fecha:</strong>
  <%= @pedido.ped_fecha %>
</p>

<p>
  <strong>Ped esta:</strong>
  <%= @pedido.ped_esta %>
</p>

<p>
  <strong>Ped pizz:</strong>
  <%= @pedido.ped_pizz %>
</p>

<p>
  <strong>Ped trab:</strong>
  <%= @pedido.ped_trab %>
</p>

<p>
  <strong>Ped cli:</strong>
  <%= @pedido.ped_clie %>
</p>

<%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_pedido_path(@pedido) %> |
<%= link_to 'Back', pedidos_path %>
