<div class="col s12 m12 l8 offset-l2 ">
<div class="card hoverable">
  <div class="card-image">
    <img src=<%= image_url('c2.jpg') %> >
    <span class="card-title">Iniciar Sesion</span>
  </div>
  <div class="card-content">
    <div class="row">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="row">
    <button class="btn waves-effect waves-light" type="submit" name="action">Iniciar Sesion
      <i class="material-icons right">vpn_key</i>
    </button>
  </div>

<% end %>
</div>
</div>
</div>
</div>
