<%= form_with(model: producto, local: true) do |form| %>
  <% if producto.errors.any? %>
      <% producto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
  <% end %>

<div class="row">
  <div class="input-field col s12 m6 l4">
    <%= form.label :pro_desc, "Descripcion" %>
    <%= form.text_field :pro_desc, id: :producto_pro_desc, class: "validate", required: " " %>
  </div>

  <div class="input-field col s12 m6 l4">
    <%= form.label :pro_prec, "Precio"  %>
    <%= form.number_field :pro_prec, id: :producto_pro_prec, class: "validate", required: " " %>
  </div>

  <div class="input-field col s12 m6 l4">
    <%= form.label :pro_tpro, "tipo"  %>
    <%= form.text_field :pro_tpro, id: :producto_pro_tpro, class: "validate", required: " " %>
  </div>
</div>

  <div id="ins_pro">
    <%= form.fields_for :ins_pro do |f|  %>
      <div class="row">
        <div class="input-field col s12 m6 l4">
          <%= f.select :inpr_insu, options_for_select(Insumo.all.collect {|i| [ i.ins_nomb, i.ins_id ] }), {include_blank: 'Agregar Insumo'} %>
        </div>
        <div class="input-field col s12 m6 l4">
          <%= f.label :inpr_cant, "Cantidad" %>
          <%= f.number_field :inpr_cant, class: "validate", required: " " %>
        </div>
      </div>
    <% end %>
    <div class="row">
      <div class="input-field col s12 m6 l12">
        <div class="links">
          <%= link_to_add_association 'Agregar Insumo', form, :ins_pro, class: "btn waves-effect waves-light" %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
      <i class="material-icons right">send</i>
    </button>
  </div>

<% end %>
<script>
$(document).ready(function() {
    $('select').material_select();
});
</script>
