<div class="nested-fields">
  <div class="row">
    <div class="input-field col s12 m6 l4">
      <%= f.select :inpr_insu, options_for_select(Insumo.all.collect {|i| [ i.ins_nomb, i.ins_id ] }), {include_blank: 'Agregar Insumo'} %>
    </div>

    <div class="input-field col s12 m6 l4">
      <%= f.label :inpr_cant, "Cantidad" %>
      <%= f.number_field :inpr_cant , class: "validate", required: " "%>
    </div>


    <%#= f.check_box :_destroy %>
    <div class="input-field col s12 m6 l4">
      <%= link_to_remove_association "Eliminar", f, class: "btn waves-effect waves-light" %>
    </div>
  </div>
</div>
<script>
$(document).ready(function() {
    $('select').material_select();
});
</script>
