<div class="card hoverable">
  <div class="card-image">
    <img src=<%= image_url('c2.jpg') %> >
    <span class="card-title">Productos</span>
  </div>
</div>

<ul class="collapsible popout" data-collapsible="accordion">
  <li>
    <div class="collapsible-header"><i class="material-icons">library_add</i>Agregar Producto</div>
    <div class="collapsible-body hoverable">
      <%= render 'form', producto: @producto %>
    </div>
  </li>
  <li>
    <div class="collapsible-header active"><i class="material-icons">av_timer</i>Productos</div>
    <div class="collapsible-body hoverable">
    <table id="dt" class="bordered highlight">
      <thead>
        <tr>
          <th class="width 35%">Producto</th>
          <th class="width 20%">Precio</th>
          <th class="width 25%">Tipo</th>
          <th class="width 20%"> </th>
        </tr>
      </thead>

      <tbody>
        <% @productos.each do |p| %>
          <tr>
            <td><%= p.pro_desc %></td>
            <td><%= p.pro_prec %></td>
            <td><%= p.tipo_producto.tpro_desc %></td>
            <td><%= link_to '<i class="material-icons">search</i>'.html_safe, p %>
              <%= link_to '<i class="material-icons">mode_edit</i>'.html_safe, edit_producto_path(p) %>
              <%= link_to '<i class="material-icons">delete</i>'.html_safe, p, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<script>
$('#dt').DataTable({
  "lengthChange": false,
  language: { search: "Buscar" }
});
</script>
