<div class="card hoverable">
  <div class="card-image">
    <img src=<%= image_url('c2.jpg') %> >
    <span class="card-title"><%= @producto.pro_desc %></span>
  </div>
</div>


<div class="card hoverable">
  <div class="card-content">
    <p>
      <strong>Producto:</strong>
      <%= @producto.pro_desc %>
    </p>

    <p>
      <strong>Precio:</strong>
      <%= @producto.pro_prec %>
    </p>

    <p>
      <strong>Tipo Producto:</strong>
      <%= @producto.tipo_producto.tpro_desc %>
    </p>
  </div>
</div>

<div class="card hoverable">
  <div class="card-content">
    <table class="bordered highlight">
      <thead>
        <tr>
          <th class="width 75%">Insumo</th>
          <th class="width 25%">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <% @producto.ins_pro.each do |i| %>
          <tr>
            <td><%= i.insumo.ins_nomb %></td>
            <td><%= i.inpr_cant.to_s+" "+i.inpr_med %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</li>
</ul>
  </div>
</div>
