/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require materialize
 *= require material_icons
 *= require dataTables.material
 *= require_self
 */

@import "materialize/components/color";
$primary-color: color("deep-orange", "accent-4") !default;
$secondary-color: color("amber", "accent-4") !default;
@import "materialize";

html, body, .custom-wrapper {
  height: 100%;

}
.row{
  width: 100%;
}

body {
  background-image: url("bg.jpg");
}

.material-icons, .icon-text {
  vertical-align: middle;
  font-weight: 400;
  font-style: condensed light;
}

.hoverable:hover {
  transition: box-shadow .25s;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.19);
}

.collection-menu {
  color: #fff;
  border: 1px solid #dd2c00 !important;
  background-color: #dd2c00 !important;
  border-bottom: 1px solid #dd2c00 !important;
}

i.medium {
  font-size: 3rem;
}

.card.small .card-image, .card.medium .card-image, .card.large .card-image {
  max-height: 100px;
  overflow: hidden;
}
.card .card-image{
  max-height: 100px;
  overflow: hidden;
}
.card .card-content{
  max-height: 100%,
}
a.mover { background-color: #FBE863; color: #957D31; padding: 6px 12px; font-weight: bold; text-decoration: none; }
.next-tab { border-left: 5px solid #fff; border-bottom: 5px solid #fff; top: 250px; right: 0;}
.prev-tab { border-right: 5px solid #fff; border-bottom: 5px solid #fff; top: 250px; left: 0;}

.admin {
  padding-left: 300px;
}

div.dataTables_wrapper div.dataTables_filter input {
  margin-left: 0em;
  width: 200px;
}
.collapsible-body {
  background-color: #fff;
}
//div.dataTables_wrapper  {
//    padding-left: 20px;
//    padding-right: 20px;
//    padding-bottom: 20px;
//}

td, th {
  padding: 10px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}
