<ul id="slide-out" class="side-nav fixed">
  <li><%= link_to "Trabajadores", trabajadors_path %></li>
  <li><%= link_to "Insumos", insumos_path %></li>
  <li><%= link_to "Productos", productos_path %></li>
  <li><%= link_to "Ingreso Stock", stocks_path %></li>
  <li><%= link_to "Tablas Basicas TT TP", stocks_path %></li>
  <li><%= link_to "Index", root_path %></li>
</ul>

<script>
  $( document ).ready(function() {
  });
</script>

<!--
  <p id="notice"><%# notice %></p>
-->
