<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper container">
      <a class="brand-logo left" href="<%= root_path %>">Pizzacto</a>
      <ul class="right">
        <% if account_signed_in? %>
          <li><%= link_to 'Pedidos', pedidos_path %> </li>
          <% if is_cliente %>
            <li><strong><%= "Hola "+current_account.cliente.cli_nomb %></strong></li>
          <% elsif is_trabajador  %>
            <li><%= link_to 'Stock', stocks_path %> </li>
            <li><strong><%= "Vendedor: "+current_account.trabajador.tra_nomb %></strong></li>
          <% elsif is_administrador %>
            <li><%= link_to 'Productos', productos_path %> </li>
            <li><%= link_to 'Insumos', insumos_path %> </li>
            <li><%= link_to 'Trabajadores', trabajadors_path %> </li>
            <li><%= link_to 'Tipo', tipo_trabajadors_path %> </li>
            <li><%= link_to 'Vistas',  page_vista_path %> </li>
            <li><%= link_to 'Reporte',  page_reporte_path %> </li>

          <% end %>
          <li><%= link_to 'Cerrar Sesion', destroy_account_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Crear Cuenta', new_account_registration_path %></li>
          <li><%= link_to 'Iniciar Sesion', new_account_session_path %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
