<!DOCTYPE html>
<html>
  <head>
    <title>Pizzacto - 2017</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header>
    <!-- if trab/cli  --><!-- <%= render 'layouts/navbar'  %> -->
  </header>
  <body>
    <div class="row">
      <% if defined? current_account.rol & current_account.rol == 'adm' %>
      <div class="row"></div>
        <%= render 'layouts/menu'  %>
        <div class="admin">
          <div class="col s12 m12 l10 offset-l1">
            <%= yield %>
          </div>
        </div>
      <% else %>
      <%= render 'layouts/navbar'  %>
      <div class="row"></div>
        <div class="col s12 m12 l10 offset-l1">
          <%= yield %>
        </div>
      <% end %>
    </div>
  </body>
</html>
